<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>MELOMIX</title>
</head>
<body>
    <div class="d-flex align-items-center" style="padding: 1em; background-color: #12343d">
        <div class="flex-shrink-0" style="margin-left: 50px;">
            <img src="static\logo.png" height="100px" width="100px">
        </div>
        <div class="ms-auto p-2 bd-highlight" style="font-size:40px ;color: aqua;">Creator Registration</div> 
        <div class="ms-auto p-2 bd-highlight ">
            <a href="/userhome">
            <button type="button" class="btn btn-info" >User Home</button>
            </a>
        </div>
    </div>
    {% if creator.flag!=0 %}
    <div class="d-flex justify-content-center">
        <form action="/register-creator" method="POST" enctype="multipart/form-data" class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
            <br><p>Hey {{user.username}} please register yourself as a creator below</p>
            
            <label for="cname">Creator Name</label>
            <input type="text" id="cname" name="cname"  placeholder="Enter Public Name" required ><br><br>
            <label for="photo">Profile Photo</label>
            <input type="file" id="photo" name="photo" accept="image/*" required><br><br>
            <label for="cpassword">Password</label>
            <input type="password" id="cpassword" name="cpassword" placeholder="Confirm password" required><br><br>
            <input type="checkbox" id="agree_id" name="agree" required>*
            <label for ='agree'>I agree</label>
            <br>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Register</button> 
        </form>
    </div>
    {% endif %}
    <div class="position-absolute bottom-0 end-0">
    <div class="m-4">
        {%with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
                <div class="alert alert-danger alert-dismissible fade show">          
                    {{messages[0]}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
        {% endif %}
        {% endwith %}
        {%with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
                <div class="alert alert-success alert-dismissible fade show">          
                    {{messages[0]}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
        {% endif %}
        {% endwith %}
    </div>
    </div>
</body>
</html>