<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>MELOMIX</title>
</head>
<body>
    <div class="d-flex align-items-center" style="padding: 1em; background-color: #12343d">
        <div class="flex-shrink-0" style="margin-left: 50px;">
            <a href="/creatorprofile"><img src="static\logo.png" height="100px" width="100px"></a>
        </div>
        <div class="p-5 flex-grow-1 bd-highlight" >
            <h2 style="color: aqua;">Edit Album</h2></div>
            
        <div class="p-2 flex-shrink-1 bd-highlight">
            <button class="btn btn-primary"><a class="dropdown-item" href="/creatorprofile">Creator Home</a></button>
        </div>
    </div>

<div class="container" style="padding: 1em;">
    
    <div class="row border" style="padding: 2em;">
        <div class="col-md-4"><img src="{{album.album_coverphoto}}" class="rounded" alt="album Cover Photo" height="300px" width="300px"><br><p>*Sorry you can't update photo file</p></div>
        <div class="col-md-8">
    <form action="/editalbum" method="post" class="form-control">
        <table>
        <input type="text" hidden name="aid" value="{{album.id}}">
        <input type="text" hidden name="flag" value="update" class="form-data">
        <tbody>
            <tr>
            <th><label for="aname">Album Name</label></th>
            <td><input type="text" placeholder="Album Name" name="aname" value="{{album.album_name}}" class="form-data"></td>
            </tr>
            <tr>
            <th><label for="aname">Genre</label></th>
            <td><input type="text" placeholder="Enter Genre" name="genre" class="form-data" value="{{album.genre}}" required></td>
            </tr>
            <tr>
            <th><label for="song">Select Songs to add</label></th>
            <td><select name="song" multiple>
            {% for s in exsisting_songs %}
            <option value="{{s.id}}" selected>{{s.sname}}</option>
            {% endfor %}
            {% for s in rem_songs %}
            <option value="{{s.id}}" >{{s.sname}}</option>
            {% endfor %}
            </select></td>
            </tr>
            <tr><th colspan="2" style="text-align: center;"><input type="submit" value="update" class="btn btn-dark"></th></tr></tbody>
    </table>
    </form>
    </div>
</div>
</body>
</html>